/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

header img, .title, .img, .main-text, .img-descrition, footer{
  margin-left: 5px;
}

.conteiner{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.img, .main-text, .secondo-paragrafo, .footer-img, .footer-img-2{
  margin-top: 20px;
}

/* HEADER */
header{
  background-image: url('../img/pattern.png');
  height: 100px;
  background-color: rgb(78, 160, 255);
  background-size:400px ;
  background-position: -125px 0;
}

header img{
  height: 50px;
  margin-top:40px ;
}

/* MAIN */

main h1{
  color: black;
}

main section p{
  font-size: 1.1rem;
}


main table, .ul, footer{
  margin-top: 30px;
}

main table {
  border-collapse: collapse;
  margin-right: 5px;
}

main th{
  text-align: left;
}

main td{
  width: 20%;
  height:60px;
}

main thead{
  background-color:rgb(32, 169, 229);
  color: white;
}


main #autore{
  color: rgb(78, 160, 255);
}


main .title{
  margin-top: 10px;
  font-size: 2rem;
  text-align: left;
}

main .dida, main .data{
  color: grey;
}

main .data{
  font-size: 0.8rem;
}

main .img-descrition span{
  font-size: 0.8rem;
}

main .highlighted{
  background-color: yellow;
}

main .ul {
  margin-left: 20px;
}

main .riga-colorata{
  background-color: rgb(177, 229, 242);
}

main .testo-lungo{
  width: 80%;
}

/* FOOTER */
footer h3{
  margin-top: 10px;
  color: grey;
}

footer .text-img{
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration-line: none;
}

footer .footer-img{
  background-image:url(../img/monitor.jpg);
  width: 270px;
  height: 200px;
}

footer .footer-img-2{
  background-image:url(../img/graph.jpg);
  width: 270px;
  height: 200px;
  margin-bottom: 30px;
}

footer .footer-img a, .footer-img-2 a{
  text-decoration-line: none;
}