/* GENERALE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

header img, .title, .img, .main-text, .img-descrition, footer{
  margin-left: 5px;
}

/* HEADER */
header{
  background-image: url('../img/pattern.png');
  height: 100px;
  background-color: rgb(78, 160, 255);
  background-size:400px ;
  background-position: -125px 0;
}


header img{
  height: 50px;
  margin-top:40px ;
}

/* MAIN */

h1{
  color: black;
}

h3{
  color: grey;
}

section h2{
  font-size: 1.5rem;
}

section p{
  font-size: 1.1rem;
}


table, .ul, footer{
  margin-top: 30px;
}

table {
  border-collapse: collapse;
}

th{
  text-align: left;
}

td{
  width: 20%;
  height:60px;
}

thead{
  background-color:rgb(32, 169, 229);
  color: white;
}

#autore{
  color: rgb(78, 160, 255);
}

.conteiner{
  max-width: 1200px;
}

.title{
  margin-top: 10px;
  font-size: 2rem;
  text-align: left;
  color: grey;
}

.img, .main-text, .secondo-paragrafo, .footer-img, .footer-img-2{
  margin-top: 20px;
}

.img-descrition p{
  font-size: 0.8rem;
}

.highlighted{
  background-color: yellow;

}
.ul {
  margin-left: 20px;
}

.riga-colorata{
  background-color: rgb(177, 229, 242);
}

.testo-lungo{
  width: 80%;
}

/* FOOTER */
.text-img{
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

.footer-img{
  background-image:url(../img/monitor.jpg);
  width: 270px;
  height: 200px;
}

.footer-img-2{
  background-image:url(../img/graph.jpg);
  width: 270px;
  height: 200px;
  margin-bottom: 30px;
}
